<!-- Email Verification Template by Bhagwati Prasad(bpjoshi)-->
<html>
	<body>
	<div>
		<p> Thank you for registering with us. </p>
	</div>
	<div>
		<p> Please copy the link below
		 <a href="${websiteUrl}/regconfirmed?t=${verificationToken}" target="_blank"> here </a> to verify your email address.</p>
	</div>
	</body>
</html>