<!-- Email Verification Template by Bhagwati Prasad(bpjoshi)-->
<html>
	<body>
	<div>
		<p> Thank you for registering with us. </p>
	</div>
	<div>
		<p> Please copy the link below
		 <a href="${website.url}/regconfirmed?t=${verificationToken}d" target="_blank"> here </a> to verify your email adress.</p>
	</div>
	</body>
</html>